<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Lista de Tareas</title>
    <link rel="stylesheet" href="../assets/css/styles.css"/>
</head>
<body>
    <h1>Lista de Tareas</h1>
    <a href="/tasks/new">Agregar Tarea</a>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Título</th>
                <th>Completada</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="task : ${tasks}">
                <td th:text="${task.id}"></td>
                <td th:text="${task.title}"></td>
                <td th:text="${task.completed}"></td>
                <td>
                    <a th:href="@{/tasks/edit/{id}(id=${task.id})}">Editar</a>
                    <a th:href="@{/tasks/delete/{id}(id=${task.id})}">Eliminar</a>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>
